#projects {
    padding: 2rem;
    background-color: #f9f9f90e;
    width: 97%;
    
}

.projects-grid {
    display: flex; /* Cambia a flexbox para organizar las tarjetas horizontalmente */
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 1.5rem;
    padding: 1rem;
}

.projects-grid > * {
    flex: 1 1 calc(25% - 1.5rem); /* Cuatro tarjetas por fila */
    min-width: 150px; /* Ancho mínimo de cada tarjeta */
    box-sizing: border-box; /* Incluye el padding y el borde en el tamaño total del elemento */
}