

.networking-screen h1 {
font-size: 2.5rem;
color: #ffffff;
margin-bottom: 1rem;
}

.networking-screen p {
font-size: 1.2rem;
color: #8b8989;
margin-bottom: 2rem;
}

.networking-screen .networking-content {
    background-color: rgba(255, 255, 255, 0.075);
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.networking-screen .content h2 {
font-size: 2rem;
color: #ffffff;
margin-bottom: 1rem;
}

.projects-grid {
display: flexbox;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 1.5rem;
}