#about {
    padding: 2rem;
    background-color: #f9f9f915;
    opacity: 0; /* Inicialmente oculto */
    animation: fadeIn 1.5s forwards; /* Aplicar animación */
    display: flex;
    flex-direction: column;
    /* Asegura que ocupe toda la altura del viewport */

}
p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    color: white;
}


.experience-section .education-section {
    margin-top: 2rem;
}

.experience-toggle-button {
    padding: 0.5rem 1rem;
    background-color: #007bff00;
    color: rgb(49, 199, 19);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.experience-toggle-button:hover {
    background-color: #20bb1b;
    color: white;
}

.experience-cards { 
display: flex; /* Asegura que las tarjetas se alineen horizontalmente */
gap: 1rem;
margin-top: 1rem;
margin-right: 2rem; /* Añade un margen derecho para evitar el desbordamiento */
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease, opacity 0.5s ease;
opacity: 0;
box-sizing: border-box;
}

.experience-cards.expanded {
max-height: 1000px; /* Ajusta este valor según el contenido */
opacity: 1;
}

.experience-cards > * {
flex: 1 1 calc(25% - 1rem); /* Tres tarjetas por fila */
min-width: 150px; /* Ancho mínimo de cada tarjeta */
height: 200px;
box-sizing: border-box;
}

/* Estilos para la sección de Formación Profesional */
.education-section button {
    padding: 0.5rem 1rem;
    background-color: #00050100; /* Color verde para diferenciar */
    color: rgb(49, 199, 19);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.education-toggle-button:hover {
background-color: #218838;
color: white;
}

.education-cards {
display: flex;
flex-wrap: wrap;
gap: 1rem;
margin-top: 1rem;
max-height: 0;
overflow: hidden;
transition: max-height 0.5s ease, opacity 0.5s ease;
opacity: 0;
box-sizing: border-box;
}

.education-cards.expanded {
max-height: 1000px; /* Ajusta este valor según el contenido */
opacity: 1;
box-sizing: border-box;
}

.education-cards > * {
flex: 1 1 calc(25% - 1rem); /* Tres tarjetas por fila */
min-width: 150px; /* Ancho mínimo de cada tarjeta */
}
/* Media queries para ajustar el tamaño de las tarjetas en diferentes resoluciones */
@media (max-width: 1200px) {
    .education-cards > *, .experience-cards > * {
        flex: 1 1 calc(33.333% - 1rem); /* Tres tarjetas por fila */
    }
}

@media (max-width: 992px) {
    .education-cards > *, .experience-cards > * {
        flex: 1 1 calc(50% - 1rem); /* Dos tarjetas por fila */
    }
}

@media (max-width: 768px) {
    .education-cards > *, .experience-cards > * {
        flex: 1 1 calc(100% - 1rem); /* Una tarjeta por fila */
    }
}