/* Estilos base del Navbar con glassmorfismo */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    background-color: rgba(0, 0, 0, 0.281);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.11);
    position: sticky;
    top: 0; /* Posición absoluta */
    z-index: 1000;

}

.navbar-left h1 {
    color: rgb(72, 228, 25);
    font-size: 2.2rem;
    margin-bottom: 0.1rem;
    
}
.navbar-left p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    opacity: 0; /* Inicialmente oculto */
    transform: translateY(20px); /* Posición inicial para el desplazamiento */
    animation: slideIn 1s forwards; /* Aplicar animación */
    animation-delay: 0.3s;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left .profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-top: -3rem;
    position: relative;
    top: 80px; /* Ajusta este valor según sea necesario */
}
.navbar-left .text-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; /* Apila el h1 y el p verticalmente */
    
}
.navbar-center {
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

.navbar-center .nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navbar-center .nav-links li {
    position: relative;
}

.navbar-center .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg, #dddddd, #cac7ce, #39eb0dda);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: background-position 0.5s ease;
}

.navbar-center .nav-links a:hover {
    background-position: -100% 0;
}
.navbar-center .nav-links a:active {
    color: #39eb0d; /* Cambiar color al hacer clic */
    transition: color 0.3s ease; /* Añadir transición */
}

.navbar-right {
    display: flex;
    gap: 1rem;
}

.navbar-right a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-right a:hover {
    color: #1fc02d;
}

/* Estilos para el menú hamburguesa */
.navbar-hamburger {
    display: none; /* Oculto por defecto */
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar-hamburger {
        display: block; /* Mostrar en móviles */
    }
    .navbar-left h1 {
        color: rgb(42, 196, 28);
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .navbar-left p {
        font-size: 0.8rem;
    }
    .navbar-left .profile-photo {
        
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 1rem;
        position: relative;
        top: 40px; /* Ajusta este valor según sea necesario */
    }
    .navbar-left .text-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column; /* Apila el h1 y el p verticalmente */
        
        
    }
    .navbar-center {
        display: none; /* Ocultar el menú en móviles por defecto */
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        padding: 1rem;
    }

    .navbar-center.active {
        display: flex; /* Mostrar el menú cuando está activo */
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
    }

    .navbar-right {
        display: none; /* Ocultar íconos en móviles */
    }
}