.experience-cards {
    display:flexbox;
    flex-wrap: wrap; /* Permite que las tarjetas se envuelvan a la siguiente línea */
    gap: 1rem;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin-top: 1rem;
}

.experience-card {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 1rem;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease, height 0.3s ease;
    flex: 0 1 300px;
}

.experience-card.expanded {
    height: auto; /* Permite que la tarjeta se expanda */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.experience-card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    transition: opacity 0.3s ease, height 0.3s ease, width 0.3s ease;
}

.experience-card.expanded .experience-card-background {
    width: 50px; /* Ajusta el tamaño de la imagen cuando está expandida */
    height: 50px; /* Ajusta el tamaño de la imagen cuando está expandida */
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.experience-card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    transition: padding 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.experience-card.expanded .experience-card-content {
    position: relative;
    background-color: transparent;
    padding: 1rem 0;
    top: 60px;
}

.experience-card-content h3 {
    margin: 0;
    font-size: 1.2rem;
}

.experience-card-content p {
    margin: 0;
    font-size: 1rem;
}

.experience-card-description {
    margin-top: 0.7rem;
    padding: 0 1rem;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 768px) {
    .experience-card {
        width: 100%;
        margin: 1rem 0; /* Ajusta el margen para centrar la tarjeta */
    }

    .experience-card.expanded .experience-card-background {
        width: 40px; /* Ajusta el tamaño de la imagen cuando está expandida en pantallas pequeñas */
        height: 40px; /* Ajusta el tamaño de la imagen cuando está expandida en pantallas pequeñas */

    }
    .experience-card-content h3 {
        font-size: 1rem;
    }

    .experience-card-content p {
        font-size: 0.6rem;
    }
}