.footer {
    background-color:linear-gradient(90deg, #dddddd, #cac7ce, #39eb0dda);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    
    bottom: 100%;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-top: 0.5rem;
}

.social-icons a {
    color: white;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #1fc02d;
}